<div class="items view indent">
    <div class="container">
        <header>
            <h3>
                <li class="collection-item valign-wrapper">
                    <i class="large material-icons valign">restaurant</i>
                    <span style="margin-left:10px;">{{ title }}</span>
                </li>
            </h3>
        </header>
        <br />
        <div class="fixed-action-btn horizontal" style="bottom:45px;right:24px;">
            <a class="btn-floating btn-large red">
                <i class="large material-icons">add</i>
            </a>
        </div>
        <div class="row">
            <!-- <a class="right waves-effect waves-light btn" routerLink="/items/0/edit">
                <span class="glyphicon glyphicon-plus"></span> New Item
            </a> -->            
            <div class="col-md-10">
                <cm-filter-textbox class="navbar-right"
                (changed)="filterChanged($event)"></cm-filter-textbox>
            </div>
        </div>
        
        <cm-items-card 
          [items]="filteredItems" 
          [hidden]="displayMode !== displayModeEnum.Card"></cm-items-card>

        <cm-pagination
            [totalItems]="totalRecords"
            [pageSize]="pageSize"
            (pageChanged)="pageChanged($event)"></cm-pagination>
    </div>
</div>
